.aboutPage {
  background: url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
.aboutLanding {
  display: flex;
  flex-direction: column;
}
.cardDisplay {
  display: flex;
  width: 75vw;
  align-self: center;
}
.title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.storyBox {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.storyField {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70vw;
  background: white;
  padding: 0px 25px 15px 25px;
  border: black 1px solid;
}
