.contactLanding {
  background: url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.formDiv {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background: white;
  align-self: center;
}
.contactForm {
  display: inline-flex;
}
input,
textarea {
  color: black;
  margin: 25px;
  background: none;
  border-bottom: 3px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
}
